$dark-theme: (
    "bg": #282a36,
    "text": #f8f8f2,
    "headings": #BD93F9,
    "link": #8BE9FD,
    "link-hover": darken(#8BE9FD, 15%)
);

:root {
    @media (prefers-color-scheme: dark) {
        @each $color, $value in $dark-theme{
            --theme-#{$color}: #{$value}; 
        }
    }
}

body {
    color: var(--theme-text, $body-color);
    background-color: var(--theme-bg, $body-bg);
}

a {
    color: var(--theme-link, $link-color);
    @include hover-focus {
        color: var(--theme-link-hover, $link-hover-color)
    }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: var(--theme-headings, $headings-color);
}